<!DOCTYPE html>
<html lang="pt" ng-app="agendaDeTarefas">

    <head>
        <meta charset="UTF-8"/>
        <title>Agenda de tarefas</title>
        <link rel="icon" type="image/ico" href="./css/icone.ico"/>

        <script src="./js/frameworks/angular.js"></script>
        <script src="./js/frameworks/jquery.js"></script>
        <script src="./js/frameworks/bootstrap.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/controlador/tela-controller.js"></script>


        <link rel="stylesheet" href="./css/bootstrap.css"/>
        <link rel="stylesheet" href="./css/style.css"/>
        <link rel="stylesheet" href="./css/glyphicon.css"/>

    </head>

    <body ng-controller="agendaDetarefasCtrl" id="palnoDeFundo">

        <div id="interface">

            <nav>

                <h1 class="titulo">{{app}}</h1>

                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="https://github.com/Luiz-FS" target="_blank">Sobre</a></li>
                </ul>

            </nav>

            <div class="jumbotron">
            
            	<h2>{{listaDeTarefasSelecionada.nome}}</h2>

                <div>

					<form novalidate="novalidate" name="formTarefa">
					
                    	<input class="form-control" type="text" name="txtDescricao" ng-model="tarefa.descricao" placeholder="Tarefa..." ng-required="true"/>

						<select class="form-control prioridade" ng-model="tarefa.prioridade" ng-options="prioridade for prioridade in prioridades" ng-required="true">	

                        	<option value="">Prioridade...</option>

                    	</select>
                    	
                    	<div class="botoes">
                    		<button class="btn btn-primary btn-block adicionar" ng-click="adicionaTarefa(tarefa)" ng-disabled="formTarefa.$invalid">Adicionar Tarefa</button>
                    		<button class="btn btn-danger btn-block limparTarefas" ng-click="limparTarefas()">Limpar Tarefas</button>
                    	</div>
                    </form>

                </div>

                <div id="controladorDeTarefas">
                
                	<select class="form-control listas" ng-model="selLista" ng-click="selecionarListaDetarefa(selLista)" ng-options="lista.nome for lista in listasDeTarefas" ng-required="true">	

                    	<option value="">Listas de tarefas...</option>

                  	</select>

                    <input class="form-control busca" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>

                    <select class="form-control filtro" ng-model="select" ng-options="filtro.filtro for filtro in tableFilter">

                        <option value="">Filtrar por...</option>

                    </select>

                    <div id="box">

                        <div id="sombreado" ng-repeat="tarefa in listaDeTarefasSelecionada.tarefas | filter:{descricao: criterioDeBusca}
                            | filter:{concluida: filtroTarefas(select)}">

                            <div ng-class="{concluida: tarefa.concluida, naoConcluida: !tarefa.concluida}">

                                <div id="checkeBox" ng-click="marcarOudesmarcarConcluida(tarefa)"><span class="glyphicon glyphicon-ok" ng-show="tarefa.concluida"></span></div>

                                <div id="nomeTarefa" ng-click="abrirTarefa(tarefa)">
                                    <p>{{tarefa.descricao}}</p>
                                </div>

                            </div>

                            <div id="trash" ng-click="remove(tarefa)">
                                <span class="glyphicon glyphicon-trash remover"></span>
                            </div>

                        </div>

                        <p id="tarefasVazias" ng-show="listaDeTarefasSelecionada.tarefas.length == 0">Não há tarefas a serem realizadas</p>

                    </div>

                </div>
               
                <div class="text-xs-center" id="example-caption-6">Progresso das tarefas&hellip; {{calculaPorcentagem(listaDeTarefasSelecionada.tarefas) + "%"}}</div>
                <div id="progressBar">

                    <div id="progressConcluida" style="{{'width:' + calculaPorcentagem(listaDeTarefasSelecionada.tarefas) + '%'}}"></div>
                    <div id="progressNaoOcncluida" style="{{'width:' + (MAXIMO_PERCENTUAL - calculaPorcentagem(listaDeTarefasSelecionada.tarefas)) + '%'}}"></div>

                </div>

            </div>

            <footer>
                <h5 class="creditos">Copyright © Luiz Fernando da Silva</h5>
            </footer>
            
        </div>

        <div id="tarefa-visualizacao" class="visualizacao">

            <div class="caixa-dialogo">

                <div class="titulo-dialogo">

                    <span class="fechar">&times;</span>
                    <h2>Gerenciador de Tarefa</h2>

                </div>

                <div class="corpo-texto">

                    <p><span class="atributo">Tarefa: </span>{{tarefaAtual.descricao}}</p>
                    <p><span class="atributo">Prioridade: </span>{{tarefaAtual.prioridade}}</p>
                    <p><span class="atributo">Data: </span>25/08/1997</p>

                    <div id="botoes">

                        <button id="editar">Editar</button>
                        <button id="salvar">Salvar</button>
                        <button id="cancelar">Cancelar</button>

                    </div>

                </div>

            </div>

        </div>

    </body>
</html>